@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(-5deg, #2e1ffd, #495bfc, #23a6d5, #55c8fd);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
    background-size: cover;
    min-height: 100vh;
}