@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(-5deg, #2e1ffd, #495bfc, #23a6d5, #55c8fd);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
    background-size: cover;
    min-height: 100vh;
}


  
  footer {
    position: fixed;
    background-color: rgb(1, 162, 255);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }
